* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #f2ebd9;
  }
  
  html, input, button {
    font-family: "Poppins", sans-serif;
  }

  #contenido {
    padding: 2rem;
    margin: 2rem;
    border: black 1px solid;
    width: 70%;
  }
  
  #contenido #titulo {
    margin-bottom: 2rem;
  }

  #contenido .buscador {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  #contenido .form-group {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  #contenido .lista {
    list-style-position: inside;
    padding: 1rem;
    max-width: 24rem;
    border-radius: 0.8rem;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.1);
    color: black;
    flex-grow: 1;
    border: black 1px solid;
  }
  #contenido .lista .form {
    display: flex;
    align-items: center;
  }

  #contenido .lista .form .form-input {
    border: 0;
    padding: 0.5rem;
    margin-block: 0.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 100%;
  }
  #contenido .lista .form .form-input:focus {
    outline: 0;
  }
  #contenido .lista .form .form-submit {
    padding: 0.5rem;
    border: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    transition: background-color 0.1s, color 0.1s;
  }
  #contenido .lista .form .form-submit:hover {
    background-color: #1b0737;
    color: white;
  }

  #contenido .lista-busqueda .error {
    color: red;
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
  }

  #contenido .lista-busqueda {

  }

  #contenido .lista-busqueda .autos {
    font-size: 1.2rem;
  }